.doctorimg img{
    height:300px;
    width:300px;
    margin-left: 50PX;
    margin-top: 40px;
    border-radius: 10px;
}
/* SearchForm.css */
.search-form {
    margin: 0 auto;
    text-align: center;
    font: bold 13px sans-serif;
    max-width: 70%;
    position: relative;
    margin-top: 100px;
  }
  
  .search-form input {
    width: 60%;
    box-sizing: border-box;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 15px 14px 40px;
    border: 1px solid #b6c3cd;
    border-right: 0;
    color: #4e565c;
    outline: none;
  }
  
  .search-form button {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #005587;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 15px 22px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .search-form i {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 16px;
    color: #80a3bd;
  }
  .doctorimg{
    height:632px;
    width:400px;
    border:1px solid black;
    margin-top: 50px;
    margin-left: 150PX;
    border-radius: 10px;
    
  }
  .doctordetail{
    height: 38.5%;
    width:100%;
    background-color: #005587;
    padding-top: 10px;
    color:white;
    margin-top: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
  }
  .doctbtn{
    display: flex;
    margin-top: 30px;
  }
  .doc_data{
    height:520px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }
  .clicking{
    height:40px;
    width:150px;
    margin-left: 33px;
    border-radius: 5px;
    border: none;
  }
  .clicking{
    cursor: pointer;
  }
.doctdata{
  font-size: 20px;
  text-align: start;
  margin-left: 50px;
  
}
.page{
  height:80px;
  width:82%;
  margin-top: 900px;
  display: flex;
  margin-left: 600px;
  border-radius: 5px;
 
}
.click{
  font-size: 30px;
  transform: translateY(-15px);
}
.page_num{
  padding: 15px;
}
.click2{
  font-size: 30px;
}
.click3{
  font-size: 30px;
}
li{
  list-style: none;
  margin-top: 10px;
}
.page a{
  display: inline-block;
  color:black;
  text-decoration: solid;
  padding-top: 5px;
  height:60px;
  width:60px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  border: 2px solid black;
  margin-left: 10px;
}
.page a:hover{
  background-color:#005587;
  color:white;
}
