.main-card{
    height: 800px;
    width:1200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px; 
    margin: auto;
    margin-top: 45px;
    display: flex;
}
.sub-card1{
    height:100%;
    width:50%;
   
}
.sub-card2{
    height:100%;
    width:65%;
    background-color: rgb(45, 165, 165);
}
.sub-card2 h1{
    text-align: center;
	color: rgb(11, 10, 10);
}
.input{
	margin: 40px 120px;
}
.details{
	width: 90%;
	font-size: 20px;
	outline: none;
	background-color: rgba(0, 0, 0 , 0);
	border: none;
	border-bottom: 1px solid #fefdfd;
	color:white;
}
.center{
	text-align: center;
}

.login{
	background-color: rgba(0, 0, 0 , 0);
	border :1px solid white;
	color: white;
	padding: 10px 15px;
	border-radius: 10%;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold 
}	
.login:hover{
	background-color: white;
	cursor: pointer;
	color: black;
	font-style: italic;
}

.login-text{
	margin-left: 400px;
	color: white;
}

.white{
	color:white;
	text-decoration: none;
}
.sub-card1 img{
	height:800px;
	width:650px;
}